/* Hide scrollbars by default */
body,
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Show scrollbars when .show-scrollbar is present on body */
body.show-scrollbar,
.show-scrollbar * {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  -ms-overflow-style: auto;
}
body.show-scrollbar::-webkit-scrollbar,
.show-scrollbar *::-webkit-scrollbar {
  display: block;
  width: 8px;
  background: #f1f1f1;
}
body.show-scrollbar::-webkit-scrollbar-thumb,
.show-scrollbar *::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  background-color: rgb(226, 219, 219);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
